## Import Package and Load Data

In [1]:
import pandas as pd

df = pd.read_csv('pandas_data.csv', encoding = 'euc-kr')
df

    이름          전화번호           주소
0    A  010-111-1111      서울시 강남구
1    B  010-222-2222      인천시 연수구
2    C  010-333-3333  경기도 용인시 수지구
3    D  010-444-4444      서울시 관악구
4    E  010-555-5555      서울시 종로구
5    F  010-666-6666      경기도 시흥시
6  NaN  010-777-7777          NaN

## Row and Column Counts

In [2]:
df.shape

(7, 3)

## Loop each columns to modify the data

In [3]:
row_counts, col_counts = df.shape

for i in range(row_counts):
    print(df["전화번호"][i][4:])
    df["전화번호"][i] = df["전화번호"][i][4:]

111-1111
222-2222
333-3333
444-4444
555-5555
666-6666
777-7777

## Check if the data is properly modified

In [5]:
df.head(10)

    이름      전화번호           주소
0    A  111-1111      서울시 강남구
1    B  222-2222      인천시 연수구
2    C  333-3333  경기도 용인시 수지구
3    D  444-4444      서울시 관악구
4    E  555-5555      서울시 종로구
5    F  666-6666      경기도 시흥시
6  NaN  777-7777          NaN

## Save File

In [11]:
df.to_csv("output_csv_EUC_KR.csv", encoding='euc-kr', index=False)
df.to_csv("output_csv_CP949.csv", encoding='cp949', index=False)
df.to_csv("output_csv_UTF8.csv", encoding='utf-8', index=False)
df.to_excel("output_excel.xlsx", encoding='euc-kr', index=False)